<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>What the f*** do i eat tonight?</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../public/styles/main.css">
	</head>
	<body>
		<header id="header">
			<h1>wtfdiet</h1>
			<nav id="nav">
				<ul>
					<li class="active"><a href="">Conciergerie</a></li>
					<li><a href="">Recettes populaires</a></li>
					<li><a href="">Toutes les recettes</a></li>
				</ul>
			</nav>
			<nav id="sign-in">
				<ul>
					<li><a href="">Se connecter</a></li>
					<li><a class="btn" href="">Créer un compte</a></li>
				</ul>
			</nav>
		</header>
	
		<section id="main" class="recipes">
			<aside id="filters">
				<form>
					<h3>Ambiance des recettes</h3>
					<select name="id_ambiance">
						<option value="">Repas léger</option>
						<option value="">Repas gourmand</option>
						<option value="">Repas végétarien</option>
						<option value="">Repas léger</option>
					</select>
					<hr />
					<h3>Temps total</h3>
					<div class="group">
						<label>
							<input type="radio" name="time" />
							<span>10 min</span>
						</label>
						<label>
							<input type="radio" name="time" />
							<span>20 min</span>
						</label>
						<label>
							<input type="radio" name="time" />
							<span>+30 min</span>
						</label>
					</div>
					<hr />
					<h3>Difficulté</h3>
					<div class="group">
						<label>
							<input type="radio" name="difficulty" />
							<span>Facile</span>
						</label>
						<label>
							<input type="radio" name="difficulty" />
							<span>Moyen</span>
						</label>
						<label>
							<input type="radio" name="difficulty" />
							<span>Avancé</span>
						</label>
					</div>
					<hr />
					<h3>Type de recette</h3>
					<div class="group">
						<label>
							<input type="radio" name="type" />
							<span>Entrée</span>
						</label>
						<label>
							<input type="radio" name="type" />
							<span>Plat</span>
						</label>
						<label>
							<input type="radio" name="type" />
							<span>Dessert</span>
						</label>
					</div>
					<hr />
					<h3>Ingrédients désirés</h3>

					<div class="ingredients suggest">
						<input type="text" name="ingredients" placeholder="Qu'y a-t-il dans votre frigo ?" />
						<i class="zoom sm"></i>
						<ul class="suggestions">
							<li><i class="checked sm"></i>Pommes</li>
							<li><i class="checked sm"></i>Pommes de terre</li>
						</ul>
						<ul class="choosen-ingredients">
							<li><i class="checked sm"></i>Pommes</li>
							<li><i class="checked sm"></i>Pommes de terre</li>
							<li><i class="checked sm"></i>Pommes de terre</li>
							<li><i class="checked sm"></i>Pommes de terre</li>
							<li><i class="checked sm"></i>Pommes de terre</li>
							<li><i class="checked sm"></i>Pommes de terre</li>
							<li><i class="checked sm"></i>Pommes de terre</li>
							<li><i class="checked sm"></i>Pommes de terre</li>
							<li><i class="checked sm"></i>Pommes de terre</li>
						</ul>
						</div>
				</form>
			</aside>
			<article>
				<img src="http://distilleryimage10.ak.instagram.com/2edcbb1a9fa411e3859712a851556c4a_8.jpg" alt="" />
				<div>
					<a class="like" href=""><i class="heart"></i>32</a>
					<a href="">
						<h1>Filets de poisson impromptus, à la crème et aux échalotes</h1>
						<ul>
							<li><i class="time"></i>20 min</li>
							<li><i class="cup"></i>Avancé</li>
							<li><i class="bell"></i>Plat principal</li>
						</ul>
					</a>
				</div>
			</article>
			<article>
				<div>
					<a class="like liked" href=""><i class="heart"></i>32</a>
					<a href="">
						<h1>Filets de poisson impromptus, à la crème et aux échalotes</h1>
						<ul>
							<li><i class="time"></i>20 min</li>
							<li><i class="cup"></i>Avancé</li>
							<li><i class="bell"></i>Plat principal</li>
						</ul>
					</a>
				</div>
			</article>
			<article>
				<img src="http://distilleryimage10.ak.instagram.com/2edcbb1a9fa411e3859712a851556c4a_8.jpg" alt="" />
				<div>
					<a class="like" href=""><i class="heart"></i>32</a>
					<a href="">
						<h1>Filets de poisson impromptus, à la crème et aux échalotes</h1>
						<ul>
							<li><i class="time"></i>20 min</li>
							<li><i class="cup"></i>Avancé</li>
							<li><i class="bell"></i>Plat principal</li>
						</ul>
					</a>
				</div>
			</article>
			<article>
				<div>
					<a class="like liked" href=""><i class="heart"></i>32</a>
					<a href="">
						<h1>Filets de poisson impromptus, à la crème et aux échalotes</h1>
						<ul>
							<li><i class="time"></i>20 min</li>
							<li><i class="cup"></i>Avancé</li>
							<li><i class="bell"></i>Plat principal</li>
						</ul>
					</a>
				</div>
			</article>


		</section>
	
	</body>
</html>