<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>What the f*** do i eat tonight?</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../public/styles/main.css">
	</head>
	<body>
		<header id="header">
			<h1>wtfdiet</h1>
			<nav id="nav">
				<ul>
					<li class="active"><a href="">Conciergerie</a></li>
					<li><a href="">Recettes populaires</a></li>
					<li><a href="">Toutes les recettes</a></li>
				</ul>
			</nav>
			<nav id="sign-in">
				<ul>
					<li><a href="">Se connecter</a></li>
					<li><a class="btn" href="">Créer un compte</a></li>
				</ul>
			</nav>
		</header>
	
		<section id="main" class="recipe">
			<div class="wrapper">
				<a href="">« Retour aux résultats</a>
				<article>
					<header>
						<img src="http://distilleryimage4.ak.instagram.com/15e3cb629e4111e3814f128b961f8de0_8.jpg" alt="" />
						<h1>
							<span><a href="">Julien Perrière</a> vous propose...</span>
							Tagliatelles au Mascarponne et petits pois dégueu
						</h1>
						<ul class="meta">
							<li><i class="time"></i>20 min</li>
							<li><i class="cup"></i>Avancé</li>
							<li><i class="bell"></i>Plat principal</li>
						</ul>
						<hr />
					
						<a class="like liked" href=""><i class="heart"></i>32</a> 
						<div class="clear"></div>
					</header>

					<aside>
						<h3>Ingrédients</h3>
						<ul>
							<li>Tagliatelles <span>300g</span></li>
							<li>Baleine <span>125g</span></li>
						</ul>
						<h3>Ces recettes vous plairont peut-être...</h3>
						<ul>
							<li>Tagliatelles <span>300g</span></li>
							<li>Baleine <span>125g</span></li>
						</ul>
					</aside>

					<section class="steps">
						<h3>La recette en 6 étapes</h3>
						<ul>
							<li>
								<div><span>1</span><a href=""><i class="chat"></i> +</a></div>
							</li>
						</ul>
					</section>
				</article>
			</div>

		</section>
	
	</body>
</html>