<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<base href="<?php echo $BASE; ?>/" >
	<title>Where The Fu** Do I Eat Tonight?</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<!-- DEV STYLESHEET -->
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<!-- /DEV STYLESHEET -->
	<link href="public/styles/main.css" rel="stylesheet" type="text/css" />
	
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="public/js/main.js"></script>
</head>
<body>
<?php /*
 	<?php if(isset($SESSION['id_user'])): ?>
		<a <?php if($_SERVER['REQUEST_URI']=='/recipe/submitRecipe') echo 'class="current"' ?>href="/recipe/submitRecipe">Ecrire une recette</a>

		<a <?php if($_SERVER['REQUEST_URI'] == '/user/getUser/'.$SESSION['id_user']) echo 'class="current"' ?>href="/user/getUser/<?= $SESSION['id_user'] ?>"><?= $SESSION['firstname_user']." ".$SESSION['lastname_user']?></a>
		<a href="/user/logout/">Logout</a>
	<?php else : ?> 
*/ ?>
	<header id="header">
		<h1>wtfdiet</h1>
		<nav id="nav">
			<ul>
				<li class="active"><a <?php if(strpos($_SERVER['REQUEST_URI'],'/conciergerie') !== false) echo 'class="current"' ?>href="/conciergerie">Conciergerie</a></li>
				<li><a <?php if(strpos($_SERVER['REQUEST_URI'],'/recipe/getRecipes/votes') !== false) echo 'class="current"' ?> href="/recipe/getRecipes/votes">Recettes populaires</a></li>
				<li><a <?php if(strpos($_SERVER['REQUEST_URI'],'/recipe/getRecipes/date') !== false) echo 'class="current"' ?>href="/recipe/getRecipes/date">Toutes les recettes</a></li>
			</ul>
		</nav>
		<nav id="sign-in">
			<ul>
				<li><a href="/user/login">Se connecter</a></li>
				<li><a class="btn" href="/user/register">Créer un compte</a></li>
			</ul>
		</nav>
	</header>