<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>What the f*** do i eat tonight?</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../public/styles/main.css">
	</head>
	<body>
		<header id="header">
			<h1>wtfdiet</h1>
			<nav id="nav">
				<ul>
					<li class="active"><a href="">Conciergerie</a></li>
					<li><a href="">Recettes populaires</a></li>
					<li><a href="">Toutes les recettes</a></li>
				</ul>
			</nav>
			<nav id="sign-in">
				<ul>
					<li><a href="">Se connecter</a></li>
					<li><a class="btn" href="">Créer un compte</a></li>
				</ul>
			</nav>
		</header>
		<div class="wrapper">
			<section id="main" class="user">
				<header>
					<img src="" alt="Noah Garcia" />
					<h1>Noah Garcia</h1>
					<p>Incurable coffee. blbablalbl abb abaub rebreibure buoer.</p>
					<button disabled>C'est vous</button>
					<ul>
						<li><a href=""><span>132</span> Abonnements</a></li>
						<li><a href=""><span>114</span> Abonnés</a></li>
					</ul>
				</header>
				<section>
					<h1>Paramètres du compte</h1>
					<form>
						<div>
							<h3>Prénom</h3>
							<input type="text" value="Noah" />

							<h3>Nom</h3>
							<input type="text" value="Garcia" />

							<h3>Email</h3>
							<input type="email" value="noahgarcia@mail.com" />
						</div>
						<div>
							<img src="" alt="Noah Garcia" />
							<button>Changer la photo</button>
						</div>
						<div class="clear"></div>
						<hr />
						<h3>Courte description</h3>
						<textarea>Incurable coffee. blbablalbl abb abaub rebreibure buoer.</textarea>
						<hr />
						<h3>Nouveau mot de passe</h3>
						<input type="password" value="ezr" />
						<h3>Répétez-le</h3>
						<input type="password" class="fix" value="ezrezrz" />
						<hr />
						<button type="submit"><i class="checked"></i> Enregistrer les modifications</button>
					</form>
				</section>
				
			</section>
		</div>	
	</body>
</html>