<?php include('./app/Views/partials/header.html') ?>
<div class="wrapper">
	<section id="main" class="user">
		<?php include('./app/Views/partials/headerUser.html') ?>
		<section>
			<h1>Paramètres du compte</h1>
			<form action="user/editUser" method="POST" enctype="multipart/form-data">
				<div>
					<h3>Prénom</h3>
					<input type="text" value="<?= $user->firstname_user ?>" name="firstname_user" />

					<h3>Nom</h3>
					<input type="text" value="<?= $user->lastname_user ?>" name="lastname_user"  />

					<h3>Email</h3>
					<input type="email" oninput="checkMail(this)" value="<?= $user->mail_user ?>" name="mail_user"/>
				</div>
				<div>
					<div class="user-img">
					<?php if(!empty($user->urlImage_user)): ?>
						<img src="<?= $user->urlImage_user ?>" alt="<?= $user->firstname_user." ".$user->lastname_user ?>" />
					<?php else: ?>
						<img src="/public/images/assets/pp-default.png" alt="<?= $user->firstname_user." ".$user->lastname_user ?>" />
					<?php endif; ?>
					</div>
					<label><input type="file" name="urlImage_user" onchange="readURL(this);"/>Changer la photo</label>
				</div>
				<div class="clear"></div>
				<hr />
				<h3>Courte description</h3>
				<textarea name="bio_user"><?= $user->bio_user ?></textarea>
			<?php if(empty($user->facebookId_user)): ?>
				<hr />
				<h3>Nouveau mot de passe</h3>
				<input type="password"  value="<?= $user->password_user ?>" name="password_user" />
				<h3>Répétez-le</h3>
				<input type="password" class="fix" value="<?= $user->password_user ?>" name="password_user_bis" />
			<?php endif; ?>
				<hr />
				<input name="id_user" type="hidden" value="<?= $user->id_user ?>"/>
				<button type="submit"><i class="checked"></i> Enregistrer les modifications</button>
			</form>
		</section>
	</section>
 </div>  

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script>
	function checkPass(input) {
		if (input.value != document.getElementById('password').value) {
			input.setCustomValidity('The two password must match.');
		} else {
			input.setCustomValidity('');
		}
	}

	function checkMail(input) {
		$.ajax({
				url:'user/checkMail',
				method:'POST',
				data:{ 'mail_user' : input.value }
		})
		.success(function(data){
				if (data) {
					input.setCustomValidity('This mail already exists');
				} else {
					input.setCustomValidity('');
				}
		})
		
	}

	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();

			reader.onload = function (e){ 
					$('form img').attr('src', e.target.result);
			};

			reader.readAsDataURL(input.files[0]);
		}
	}
</script>
</body>
</html>