<?php include('./app/Views/partials/header.html') ?>
<body class="clearfix">
	<div id="fb-root"></div>
	<input type="button" name="login" onclick="fb_login()" value="FB Login">   
	<section id="form">
		<form action="user/login" method="post">
			<input type="text" name="mail_user" placeholder="Mail"></input>
			<input type="text" name="password_user" placeholder="Password"></input>
			<input name="login" type="button" value="Login">
		</form>
	</section>	
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="public/js/main.js"></script>
</body>

</html>
