<?php include('./app/Views/partials/header.html') ?>
	<div id="fb-root"></div>
	<section id="login">
			<div class="wrapper">
				<a href="/"><h1>wtfdiet</h1></a>
				<p>Connectez-vous avec vos identifiants<br />
					Facebook ou votre e-mail.<p>
				<a href="" class="fb" name="fb"><i class="fb">Fb</i>Connexion via Facebook</a>
				<hr />
				<form action="user/login" method="post">
					<div class="error">Oops, il semble y avoir eu une erreur... On recommence ?<i class="close xl">Close</i></div>
					<input type="email" name="mail_user" placeholder="Email" />
					<input type="password" name="password_user" placeholder="Mot de passe" />
					<button type="submit" name="login"><i class="checked"></i> Connexion</button>
				</form>
				<a href="/user/register">Créer un compte</a>
			</div>
	</section>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="public/js/main.js"></script>
</body>

</html>
