<?php include('./app/Views/partials/header.html'); ?>

	<?php if(isset($_GET['e'])) echo "Veuillez créer un compte pour poster une recette" ?>
	<div id="fb-root"></div>
	<section id="login">
		<div class="wrapper">
			<a href="/"><h1>wtfdiet</h1></a>
			<p>Inscrivez-vous avec vos identifiants<br />
				Facebook ou votre e-mail.<p>
			<a href="" class="fb"><i class="fb">Fb</i>Inscription via Facebook</a>
			<hr />
			<form action="user/register" method="POST">
				<input type="text" placeholder="Prénom" name="firstname_user"/>
				<input type="text" placeholder="Nom" name="lastname_user"/>
				<input type="email" placeholder="Email" name="mail_user" oninput="checkMail(this)" />
				<input type="password"  name="password_user" placeholder="Mot de passe" />
				<button type="submit"><i class="checked"></i> Inscription</button>
			</form>
			<p class="legals">
				En cliquant sur «Inscription» vous certifiez avoir lu et accepté les Conditions Générales d’Utilisation.
			</p>

			<a href="/user/login">J'ai déjà un compte</a>
		</div>
	</section>

	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="public/js/main.js"></script>
</body>
</html>