<?php include('./app/Views/partials/header.html') ?>
<body class="clearfix">
	<h2>User</h2>
	<?php if($user):?>
		<table class="table table-hover table-bordered">
			<tr><td>user <td><?= $user->firstname_user." ".$user->lastname_user ?></p>
			<tr><td>id <td><?= $user->id_user ?></p>
			<tr><td>slug  <td><?= $user->slug_user ?></p>
			<tr><td>mail <td><?= $user->mail_user ?></p>
			<tr><td>password <td><?= $user->password_user ?></p>
			<tr><td>karmaPoints <td><?= $user->karmaPoints_user ?></p>
			<tr><td>facebookId_user <td><?= $user->facebookId_user ?></p>
			<tr><td>subscribeDate <td><?= date("H:i:s D M Y", strtotime($user->subscribeDate_user)) ?></p>
			<tr><td>lastLogin <td><?= $user->lastLogin_user ?></p>
		</table>
		<?php if(isset($SESSION['id_user']) && $SESSION['id_user'] == $user->id_user): ?>
			<a href="#" class="btn btn-primary"><i class="icon-edit icon-white"></i>Edit</a>
			<a href="#" class="btn btn-danger"><i class="icon-remove icon-white"></i>Delete</a>
		<?php endif; ?>
		<?php if($recipes): ?>
			<h2>Ses recettes</h2>
			<?php foreach ($recipes as $recipe): ?>
					<a href="recipe/getRecipe/<?= $recipe->id_recipe?>"><?= $recipe->name_recipe ?></a><br>
		<?php 	endforeach;
		  	endif; ?>
		<?php if($favorites): ?>
			<h2>Recettes favorites</h2>
			<?php foreach ($favorites as $recipe): ?>
					<a href="recipe/getRecipe/<?= $recipe->id_recipe?>"><?= $recipe->name_recipe ?></a><br>
		<?php 	endforeach;
		  	endif; ?>
	<?php else: ?>
			User not found
	<?php endif; ?>
	<br>
	<button onclick="window.history.back()">Retour</button>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="public/js/main.js"></script>
</body>
</html>