<?php include('./app/Views/partials/header.html') ?>
	<div class="wrapper">
		<section id="main" class="user following">
			<?php include('./app/Views/partials/headerUser.html') ?>	
			<section>
			<?php if($following): ?>
				<ul>
					<?php foreach ($following as $follow): ?>
					<li>
						<a href="/user/getUser/<?= $follow->id_following ?>">
							<h2><?= $follow->firstname_following." ".$follow->lastname_following ?></h2>
							<p><?= $follow->bio_following ?></p>
						</a>
					</li>
					<?php endforeach; ?>
				</ul>
			<?php else: ?>
				<section class="no-result">
					<p>Aucun abonnement trouvé ici :(</p>
				</section>
			<?php endif; ?>
			</section>
		</section>
	</div>	
	<?php include('./app/Views/partials/scripts.html') ?>
<?php include('./app/Views/partials/footer.html') ?>