<?php include('./app/Views/partials/header.html') ?>
	<?php if($user):?>
		  	<div class="wrapper">
				<section id="main" class="user recipes">
					<?php include('./app/Views/partials/headerUser.html') ?>
					<section class="posted">
					<h3>Recettes postées <a href="#"><i class="switch on"></i> <span class="disabled">Recettes favorites</span></a></h3>
					<?php if($recipes):?> 
					<?php foreach ($recipes as $recipe):?>
						<article>
							<?php if(!empty($recipe->urlImage_recipe)) 	echo '<img src="'.$recipe->urlImage_recipe.'" alt="'.$recipe->name_recipe.'" />' ; ?>
							<div>
								<?php if(isset($SESSION['id_user'])): ?>
								<!-- NEED TO FIX HERE - TEMP SOLUTION -->
								<a class="like <?php $model = new RecipeModel;  if(!$model->getIsFavorite( array('id_user' => $SESSION['id_user'], 'id'=> $recipe->id_recipe ))) echo 'liked'; ?>" href="/user/like/<?= $SESSION['id_user'] ?>&<?= $recipe->id_recipe ?>"><i class="heart"></i><span><?= $recipe->votes_recipe ?></span></a>
								<?php else: ?>
								<a class="like" href="/user/register"><i class="heart"></i><span><?= $recipe->votes_recipe ?></span></a>
								<?php endif; ?>
								<a href="recipe/getRecipe/<?= $recipe->id_recipe?>">
									<h1><?= $recipe->name_recipe ?></h1>
									<ul class="meta">
										<li><i class="time"></i><?= $recipe->name_preparationTime ?></li>
										<li><i class="cup"></i><?= $recipe->name_difficulty?></li>
										<li><i class="bell"></i><?= $recipe->name_type ?></li>
									</ul>
								</a>
							</div>
						</article>
					<?php endforeach; ?>
					<?php else: ?>
						<section class="no-result">
							<p>Aucune recette trouvée ici :(</p>
						</section>
					<?php endif; ?>
					</section>
				</section>
				<section class="favorite" style='display:none'>
					<h3> <a href="#"><span class="disabled">Recettes postées </span></a><i class="switch off"></i> Recettes favorites</h3>
					<?php if($favorites):?> 
					<?php foreach ($favorites as $recipe):?>
						<article>
							<?php if(!empty($recipe->urlImage_recipe)) 	echo '<img src="'.$recipe->urlImage_recipe.'" alt="'.$recipe->name_recipe.'" />' ; ?>
							<div>
								<?php if(isset($SESSION['id_user'])): ?>
								<!-- NEED TO FIX HERE - TEMP  SOLUTION -->
								<a class="like <?php $model = new RecipeModel;  if(!$model->getIsFavorite( array('id_user' => $SESSION['id_user'], 'id'=> $recipe->id_recipe ))) echo 'liked'; ?>" href="/user/like/<?= $SESSION['id_user'] ?>&<?= $recipe->id_recipe ?>"><i class="heart"></i><?= $recipe->votes_recipe ?></a>
								<?php else: ?>
								<a class="like" href="/user/register"><i class="heart"></i><?= $recipe->votes_recipe ?></a>
								<?php endif; ?>
								<a href="recipe/getRecipe/<?= $recipe->id_recipe?>">
									<h1><?= $recipe->name_recipe ?></h1>
									<ul>
										<li><i class="time"></i><?= $recipe->name_preparationTime ?></li>
										<li><i class="cup"></i><?= $recipe->name_difficulty?></li>
										<li><i class="bell"></i><?= $recipe->name_type ?></li>
									</ul>
								</a>
							</div>
						</article>
					<?php endforeach; ?>
					<?php else: ?>
						<section class="no-result">
							<p>Aucune recette trouvée ici :(</p>
						</section>
					<?php endif; ?>
					</section>
				</section>
			</div>	
	<?php else: ?>
		<section class="no-result">
			<p>Aucun utilisateur trouvé ici :(</p>
		</section>
	<?php endif; ?>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="public/js/main.js"></script>
	<script type="text/javascript">
	$('.favorite a:first','.posted a:first').on('click',function(e){
		e.preventDefault();
		console.log('test')
	});
	</script>
<?php include('./app/Views/partials/footer.html') ?>