<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>What the f*** do i eat tonight?</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../../public/styles/main.css">
	</head>
	<body>
		<header id="header">
			<h1>wtfdiet</h1>
			<nav id="nav">
				<ul>
					<li class="active"><a href="">Conciergerie</a></li>
					<li><a href="">Recettes populaires</a></li>
					<li><a href="">Toutes les recettes</a></li>
				</ul>
			</nav>
			<nav id="sign-in">
				<ul>
					<li><a href="">Se connecter</a></li>
					<li><a class="btn" href="">Créer un compte</a></li>
				</ul>
			</nav>
		</header>
		<div class="wrapper">
			<section id="main" class="user recipes">
				<header>
					<img src="" alt="Noah Garcia" />
					<h1>Noah Garcia</h1>
					<p>Incurable coffee. blbablalbl abb abaub rebreibure buoer.</p>
					<button disabled>C'est vous</button>
					<ul>
						<li><a href=""><span>132</span> Abonnements</a></li>
						<li><a href=""><span>114</span> Abonnés</a></li>
					</ul>
				</header>
				<section>
					<h3>Recettes postées <a href=""><i class="switch on"></i> <span class="disabled">Recettes favorites</span></a></h3>
					<article>
						<img src="http://distilleryimage10.ak.instagram.com/2edcbb1a9fa411e3859712a851556c4a_8.jpg" alt="" />
						<div>
							<a class="like" href=""><i class="heart"></i>32</a>
							<a href="">
								<h1>Filets de poisson impromptus, à la crème et aux échalotes</h1>
								<ul>
									<li><i class="time"></i>20 min</li>
									<li><i class="cup"></i>Avancé</li>
									<li><i class="bell"></i>Plat principal</li>
								</ul>
							</a>
						</div>
					</article>
					<article>
						<div>
							<a class="like liked" href=""><i class="heart"></i>32</a>
							<a href="">
								<h1>Filets de poisson impromptus, à la crème et aux échalotes</h1>
								<ul>
									<li><i class="time"></i>20 min</li>
									<li><i class="cup"></i>Avancé</li>
									<li><i class="bell"></i>Plat principal</li>
								</ul>
							</a>
						</div>
					</article>
					<article>
						<img src="http://distilleryimage10.ak.instagram.com/2edcbb1a9fa411e3859712a851556c4a_8.jpg" alt="" />
						<div>
							<a class="like" href=""><i class="heart"></i>32</a>
							<a href="">
								<h1>Filets de poisson impromptus, à la crème et aux échalotes</h1>
								<ul>
									<li><i class="time"></i>20 min</li>
									<li><i class="cup"></i>Avancé</li>
									<li><i class="bell"></i>Plat principal</li>
								</ul>
							</a>
						</div>
					</article>
				</section>
				
			</section>
		</div>	
	</body>
</html>