<?php include('./app/Views/partials/header.html') ?>
	<div class="wrapper">
		<section id="main" class="user following">
			<?php include('./app/Views/partials/headerUser.html') ?>	
			<section>
			<?php if($following): ?>
				<ul>
					<?php foreach ($following as $follow): ?>
					<li>
						<a href="/user/getUser/<?= $follow->id_following ?>">
							<h2><?= $follow->firstname_following." ".$follow->lastname_following ?></h2>
							<p><?= $follow->bio_following ?></p>
						</a>
					</li>
					<?php endforeach; ?>
				</ul>
			<?php else: ?>
				No following
			<?php endif; ?>
			</section>
		</section>
	</div>	
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="public/js/main.js"></script>
</body>
</html>