<?php include('./app/Views/partials/header.html') ?>
<body class="clearfix">
	<h1>Edit Recipe</h1>
	<?php if($recipe && $steps && $ambiance && $ingredients && $author):?>
	<section>
		<h2>Create your recipe</h2>              
		<form action="recipe/editRecipe" method="POST">
			<fieldset>
				<legend>Nom de la recette:</legend>
				<input name="name_recipe" type="text" placeholder="Name" value="<?= $recipe->name_recipe ?>"required/><br><br>
				<input name="id_recipe" type="hidden" value="<?= $recipe->id_recipe ?>"/>
				<legend>Ingredients de votre recette:</legend>
			<?php foreach($ingredients as $i): ?>
				<br><select name="ingredient_recipe[]">
					<option value="-1">-----</option>					
					<?php foreach($allIngredients as $ingredient): ?>
						<option value="<?= $ingredient->id_ingredient ?>"<?php if($i->id_ingredient == $ingredient->id_ingredient) echo 'selected' ?> ><?= $ingredient->name_ingredient ?></option>
					<?php endforeach ?>
				</select>
			<?php endforeach ?>
			<?php if(isset($allIngredients)):?>
				<br><select name="ingredient_recipe[]">
					<option value="-1" selected>-----</option>
					<?php foreach($allIngredients as $ingredient): ?>
						<option value="<?= $ingredient->id_ingredient ?>" ><?= $ingredient->name_ingredient ?></option>
					<?php endforeach ?>
				</select>
			<?php endif; ?>

				<legend>Étapes de la recette:</legend>
			<?php foreach($steps as $step): ?>
				+<input name="step_recipe[]" type="textarea" placeholder="Ajouter une étape" value="<?= $step->content_step ?>"  /><br>
			<?php endforeach ?>
				+<input name="step_recipe[]" type="textarea" placeholder="Ajouter une étape"  /><br>	


				<legend>Difficulté:</legend>
				<input type="radio" name="difficulty_recipe" value="1" checked> Easy<br>
				<input type="radio" name="difficulty_recipe" value="2"> Medium<br>
				<input type="radio" name="difficulty_recipe" value="3"> Hard<br>
				<legend>Temps de préparation:</legend>
				<input type="radio" name="preparationTime_recipe" value="1" <?php if($recipe->preparationTime_recipe ==1) echo 'checked' ?>> 10 min<br>
				<input type="radio" name="preparationTime_recipe" value="2"<?php if($recipe->preparationTime_recipe ==2) echo 'checked' ?>> 20 min<br>
				<input type="radio" name="preparationTime_recipe" value="3"<?php if($recipe->preparationTime_recipe ==3) echo 'checked' ?>> 30 min +<br>
				<legend>Type de plat:</legend>
				<input type="radio" name="type_recipe" value="1" checked> Entrée<br>
				<input type="radio" name="type_recipe" value="2"> Plat<br>
				<input type="radio" name="type_recipe" value="3"> Dessert<br>
				<legend>Nombre de personnes:</legend>
				<input name="numberOfPeople_recipe" type="number" placeholder="Nombre de personnes" min="1" max="15" value="<?= $recipe->numberOfPeople_recipe ?>" required/><br>
				<legend>Ambiance de votre recette:</legend>
				<?php if(isset($ambiances)):?>
					<?php foreach($ambiances as $ambiance): ?>
						<input type="radio" name="id_ambiance" value="<?= $ambiance->id_ambiance ?>" <?php if($recipe->id_ambiance == $ambiance->id_ambiance) echo 'checked' ?>> <?= $ambiance->name_ambiance ?><br>
					<?php endforeach ?>
				<?php endif; ?>
				
				<br><br><input type="submit" value="Edit recipe"/>
			</fieldset>
		</form>
	</section>
	<?php else: ?>
		Recipe not found
	<?php endif; ?>
	<br>
	<button onclick="window.history.back()">Retour</button>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="public/js/main.js"></script>
	<script type="text/javascript">
	$('form').on('keydown',function(e){
		if(e.keyCode == 13){
			e.preventDefault();
		}
	});
	$('fieldset').on('focus','input[name="step_recipe[]"]',function(e){
		$('input[name="step_recipe[]"]').on('keydown',function(e){
			$this = $(this);
			if(e.keyCode == 13 && $('input[name="step_recipe[]"]:last').val() != ''){
				e.preventDefault();
				$('<br>+<input name="step_recipe[]" type="textarea" placeholder="Ajouter une étape"/>').insertAfter('input[name="step_recipe[]"]:last');
			}
		});
	});
	$('fieldset').on('change','select:last',function(e){
		$this=$(this);
		if($('select option:selected').val() != -1 ){
			var tmp = '<br><select  name="ingredient_recipe[]">'+$this.html()+ '</select>';
			$( tmp ).insertAfter('select:last');
		}
	})
	</script>
</body>
</html>