<?php include('./app/Views/partials/header.html') ?>
<div id="recipe">
	<section>
		<h2>Create your recipe</h2>              
		<form action="recipe/submit" method="POST">
			<fieldset>
				<legend>Nom de la recette:</legend>
				<input name="name_recipe" type="text" placeholder="Name" required/><br><br>
				+<input name="step_recipe[]" type="textarea" placeholder="Ajouter une étape" required /><br>	


				<legend>Difficulté:</legend>
				<input type="radio" name="difficulty_recipe" value="1" checked> Easy<br>
				<input type="radio" name="difficulty_recipe" value="2"> Medium<br>
				<input type="radio" name="difficulty_recipe" value="3"> Hard<br>
				<legend>Temps de préparation:</legend>
				<input type="radio" name="preparationTime_recipe" value="1" checked> 10 min<br>
				<input type="radio" name="preparationTime_recipe" value="2"> 20 min<br>
				<input type="radio" name="preparationTime_recipe" value="3"> 30 min +<br>
				<legend>Type de plat:</legend>
				<input type="radio" name="type_recipe" value="1" checked> Entrée<br>
				<input type="radio" name="type_recipe" value="2"> Plat<br>
				<input type="radio" name="type_recipe" value="3"> Dessert<br>
				<legend>Nombre de personnes:</legend>
				<input name="numberOfPeople_recipe" type="number" placeholder="Nombre de personnes" min="1" max="15" required/><br>
				<legend>Ambiance de votre recette:</legend>
				<input type="radio" name="type_recipe" value="1" checked> Entrée<br>
				<input type="radio" name="type_recipe" value="2"> Plat<br>
				<input type="radio" name="type_recipe" value="3"> Dessert<br>
				<input type="radio" name="type_recipe" value="4"> Plat<br>
				<input type="radio" name="type_recipe" value="5"> Dessert<br>
				<br><br><input type="submit" value="Create recipe"/>
			</fieldset>
		</form>
	</section>
</div>
<script type="text/javascript">
$('form').on('keydown',function(e){
	if(e.keyCode == 13){
		e.preventDefault();
	}
});
$('fieldset').on('focus','input[name="step_recipe[]"]',function(e){
	$('input[name="step_recipe[]"]').on('keydown',function(e){
		$this = $(this);
		if(e.keyCode == 13 && $this.val() != ''){
			e.preventDefault();
			$('<br>+<input name="step_recipe[]" type="textarea" placeholder="Ajouter une étape"/>').insertAfter('input[name="step_recipe[]"]:last');
		}
	});
});
</script>