<?php include('./app/Views/partials/header.html') ?>
<div id="recipe">
	<section>
		<h2>Create your recipe</h2>              
		<form action="recipe/submitRecipe" method="POST">
			<fieldset>
				<legend>Nom de la recette:</legend>
				<input name="name_recipe" type="text" placeholder="Name" required/><br><br>
				<legend>Ingredients de votre recette:</legend>
			<?php if(isset($allIngredients)):?>
				<select name="ingredient_recipe[]">
					<option value="-1" selected>-----</option>
					<?php foreach($allIngredients as $ingredient): ?>
						<option value="<?= $ingredient->id_ingredient ?>" ><?= $ingredient->name_ingredient ?></option>
					<?php endforeach ?>
				</select>
			<?php endif; ?>		
				<legend>Étapes de la recette:</legend>
				+<input name="step_recipe[]" type="textarea" placeholder="Ajouter une étape" required /><br>	


				<legend>Difficulté:</legend>
				<?php if(isset($difficulties)):?>
					<?php foreach($difficulties as $difficulty): ?>
						<input type="radio" name="id_difficulty" value="<?= $difficulty->id_difficulty ?>" > <?= $difficulty->name_difficulty ?><br>
					<?php endforeach ?>
				<?php endif; ?>
				<legend>Temps de préparation:</legend>
				<?php if(isset($preparationTimes)):?>
					<?php foreach($preparationTimes as $preparationTime): ?>
						<input type="radio" name="id_preparationTime" value="<?= $preparationTime->id_preparationTime ?>" > <?= $preparationTime->name_preparationTime ?><br>
					<?php endforeach ?>
				<?php endif; ?>
				<legend>Type de plat:</legend>
				<?php if(isset($types)):?>
					<?php foreach($types as $type): ?>
						<input type="radio" name="id_type" value="<?= $type->id_type ?>" > <?= $type->name_type ?><br>
					<?php endforeach ?>
				<?php endif; ?>
				<legend>Nombre de personnes:</legend>
				<input name="numberOfPeople_recipe" type="number" placeholder="Nombre de personnes" min="1" max="15" required/><br>
				<legend>Ambiance de votre recette:</legend>
				<?php if(isset($ambiances)):?>
					<?php foreach($ambiances as $ambiance): ?>
						<input type="radio" name="id_ambiance" value="<?= $ambiance->id_ambiance ?>" > <?= $ambiance->name_ambiance ?><br>
					<?php endforeach ?>
				<?php endif; ?>
				
				<br><br><input type="submit" value="Create recipe"/>
			</fieldset>
		</form>
	</section>
</div>
<script type="text/javascript">
$('form').on('keydown',function(e){
	if(e.keyCode == 13){
		e.preventDefault();
	}
});
$('fieldset').on('focus','input[name="step_recipe[]"]',function(e){
	$('input[name="step_recipe[]"]').on('keydown',function(e){
		$this = $(this);
		if(e.keyCode == 13 && $('input[name="step_recipe[]"]:last').val() != ''){
			e.preventDefault();
			$('<br>+<input name="step_recipe[]" type="textarea" placeholder="Ajouter une étape"/>').insertAfter('input[name="step_recipe[]"]:last');
		}
	});
});
$('fieldset').on('change','select:last',function(e){
	$this=$(this);
	if($('select option:selected').val() != -1 ){
		var tmp = '<br><select  name="ingredient_recipe[]">'+$this.html()+ '</select>';
		$( tmp ).insertAfter('select:last');
	}
})
</script>
<?php include('./app/Views/partials/footer.html') ?>