<?php include('./app/Views/partials/header.html') ?>
<?php include('./app/Views/partials/instagram.html') ?>


<section id="main" class="recipe-creation">
	<div class="wrapper">
		<a href="/" class="cancel">« Annuler</a>
		<h1>Création de la recette</h1>
		<form action="recipe/submitRecipe" method="POST">
			<div class="title">
				<input type="text" name="name_recipe" placeholder="Titre de la recette" autofocus/>
			</div>
			<ul class="steps"> 
				<li class="step 1 current"><h2>Etape 1<span>Les ingrédients</span></h2></li>
				<li class="step 2"><h2>Etape 2<span>La préparation</span></h2></li>
				<li class="step 3"><h2>Etape 3<span>Finalisation</span></h2></li>
			</ul>
			<section class="step step1">
				<p class="intro">Ajoutez les ingrédients nécessaires à la préparation de votre recette, et précisez la quantité à utiliser.</p>
				<div class="two-thirds">
					<div class="ingredients suggest">
						<input type="text" name="ingredients" placeholder="Que faut-il pour votre recette ?" />
						<i class="zoom"></i>
					</div>
				</div>
				<input type="hidden" name="ingredient_recipe" val="" />
				<div class="one-third">
					<div class="nb-personnes">
						Nombre de personnes
						<input type="text" name="numberOfPeople_recipe"  placeholder="4" />
					</div>
				</div>
				<div class="clear"></div>
				<hr />
				<button class="next">Suivant »</button>
			</section>
			<section class="step step2" style="display:none">
				<div class="clear"></div>
				<p class="intro">Saisissez les différentes étapes de préparation de votre recette. Prenez compte du fait que des cuisiniers moins expérimentés que vous devront comprendre chacunes de ces étapes..</p>
				
				<ul class="recipe-steps" >
					<li>
						<input type="text" name="step_recipe[]" placeholder="Ajouter une étape">
						<div class="nb">
							<span>1</span>
						</div>
					</li>
				</ul>
				<div class="clear"></div>
				<button class="next">Suivant »</button>
			</section>
			<section class="step step3" style="display:none">
				<div class="clear"></div>
				<p class="intro">Pour aider les utilisateurs de WTFDIET à retrouver votre recette, nous avons besoin de quelques informations complémentaires.</p>
				
				<div class="one-third">
				<?php if(isset($preparationTimes)):?>
					<h3>Temps total</h3>
					<div class="group">
					<?php foreach($preparationTimes as $i => $preparationTime): ?>
						<label>
							<input type="radio" name="id_preparationTime" value="<?= $preparationTime->id_preparationTime ?>" <?php if($i == 0)echo "checked"; ?>/>
							<span><?= $preparationTime->name_preparationTime?></span>
						</label>
					<?php endforeach ?>
				<?php endif; ?>
					</div>
				</div>
				<div class="one-third">
				<?php if(isset($difficulties)):?>
					<h3>Difficulté</h3>
					<div class="group">
					<?php foreach($difficulties as $i => $difficulty): ?>
						<label>
							<input type="radio" name="id_difficulty" value="<?= $difficulty->id_difficulty ?>" <?php if($i == 0)echo "checked"; ?> />
							<span><?= $difficulty->name_difficulty?></span>
						</label>
					<?php endforeach ?>
				<?php endif; ?>
					</div>
				</div>
				<div class="one-third last">
				<?php if(isset($types)):?>
					<h3>Type de recette</h3>
					<div class="group">
					<?php foreach($types as $i => $type): ?>
						<label>
							<input type="radio" name="id_type" value="<?= $type->id_type ?>" <?php if($i == 0)echo "checked"; ?> />
							<span><?= $type->name_type?></span>
						</label>
					<?php endforeach ?>
				<?php endif; ?>
					</div>
				</div>
				<h3>Une recette pour une envie de...</h3>
				<?php foreach($ambiances as $i => $ambiance): ?>
					<label class="vibes">
						<input type="radio" name="id_ambiance" value="<?= $ambiance->id_ambiance ?>" <?php if($i == 0)echo "checked"; ?>/>
						<div>
							<img src="<?= $ambiance->urlImage_ambiance?>" width="180px" height="140px" alt="<?= $ambiance->name_ambiance?>">
							<h2><?= explode(' ',$ambiance->name_ambiance)[0] ?><span><?= explode(' ',$ambiance->name_ambiance)[1] ?></span></h2>
							<p><?= $ambiance->description_ambiance?></p>
							<span class="checked"></span>
						</div>
					</label>
				<?php endforeach ?>
				<div class="clear"></div>
				<hr />
				<h3 class="photo">Un petit sourire ?</h3>
				<p class="intro">Une jolie photo et tout le monde  vous enviera votre plat !</p>
				<input type="hidden" id="input_return_file" name="urlImage_recipe" value="" />
				<button class="camera"><i class="camera"></i>Choisir une photo</button>
				<hr />
				<button type="submit" class="next">Proposer ma recette »</button>
				<!-- <input type="submit" value="Create recipe"/> -->
				<div class="clear"></div>
			</section>
		</form>
	</div>
</section>

	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<?php include('./app/Views/partials/scripts.html') ?>
	<script type="text/javascript" src="public/js/textext/textext.min.submitRecipe.js"></script>

	<script type="text/javascript">

	function showError($message) {
		if($(".error"))
			$(".error").remove();
		$('section#main').before('<div class="error">'+$message+'<i class="close xl">Close</i></div>');
		$('.error').slideDown().delay('3000').slideUp();
	}

	$('button.camera').click(function() {
		$('#popin').fadeToggle('slow');
		return false;
	});

	$('#popin').on('click', 'button.add1', function() {
		$('#popin').fadeToggle('slow');
	});
	$('#popin i.close').click(function() {
		$('#popin').fadeToggle('slow');
		return false;
	});
	
	$("button[type='submit']").click(function() {
		$form = $('form');
		$list = JSON.parse( $form.find('input[name="ingredients"]').val() );
		$result = {};
		for(i = 0; i < $list.length; i++)
				$result[$list[i].value] = $('ul.ingredients .text-label').eq(i).find('input').val();
		$form.find('input[name="ingredient_recipe"]').val( JSON.stringify($result) );
	});

	var $ingredients;
	var TextExtTags = $('.ingredients>input[type="text"]').textext({
				plugins :'autocomplete filter tags ajax',
				ajax : {
					url : 'recipe/getAllIngredientsJSON',
					dataType : 'json',
					cacheResults : true
				},
				ext: {
					itemManager: {
						stringToItem: function(str) {
							var val;
							$.each(this.list, function(idx, item) {
								if(item.label == str){
									val = item.value;
								}
							});
							return { label: str, value: val };
						},
						itemToString: function(item) {
							return item.label;
						},
						compareItems: function(item1, item2) {
							return item1.value == item2.value;
						},
						filter: function(list, query){
							this.list = list;

							var result = [],
									i, item
									;
							for(i = 0; i < list.length; i++)
							{
									item = list[i];
									if(this.itemContains(item, query))
											result.push(item);
							}
							return result;
						}
					}
				}
			}).bind('isTagAllowed', function(e, data){
				var formData = $(e.target).textext()[0].tags()._formData,
						list = JSON.stringify(formData),
						$error = '';
				if (list.indexOf(data.tag.label) >= 0) {
					data.result = false;
					if (list.indexOf(data.tag.label) >= 0) 
						$error += 'Oops, vous ne pouvez pas ajouter deux fois le même élément.';
				} else {
					data.result = true;
				}
				if($error) 
					showError($error);
			});

	$('form').on('keydown',function(e){
		if(e.keyCode == 13)
			e.preventDefault();
	});

	$('.recipe-steps').on('focus','input[name="step_recipe[]"]',function(e){
		$('input[name="step_recipe[]"]').on('keydown',function(e){
			$this = $(this);
			if( (e.keyCode == 13 || e.keyCode == 9) && $('input[name="step_recipe[]"]:last').val() != ''){
				e.preventDefault();
				$currentVal = parseInt($('.recipe-steps li:last span').html());
				$('<li><input type="text" name="step_recipe[]" placeholder="Ajouter une étape"><div class="nb"><span>'+($currentVal+1)+'</span></div></li>').insertAfter($('input[name="step_recipe[]"]:last').parent());
				$('input[name="step_recipe[]"]:last').focus();
			}
		});

		$('input[name="step_recipe[]"]').on('blur',function(e){
			$this = $(this);
			if($('input[name="step_recipe[]"]:last').val() != ''){
				e.preventDefault();
				$currentVal = parseInt($('.recipe-steps li:last span').html());
				$('<li><input type="text" name="step_recipe[]" placeholder="Ajouter une étape"><div class="nb"><span>'+($currentVal+1)+'</span></div></li>').insertAfter($('input[name="step_recipe[]"]:last').parent());
				$('input[name="step_recipe[]"]:last').focus();
			}
		});
	});

	$('.next, ul.steps li').on('click',function(e){
		var current = $('ul.steps li.current').index(),
			next = current+1;
			$step = $('section.step').eq(current),
			error = '';

		if($(this).is('li')) {
			if($(this).index()<current) 
				next = $(this).index();
		}

		if(verifStep(current)) {

			$step.fadeOut('normal', function() {
				$('section.step').eq(next).fadeIn();
			});
			$('ul.steps li').removeClass('current');
			$('ul.steps li').eq(next).addClass('current');
			return false;

		}
		return false;
	});

function verifStep(step) {

	var $form_step = $('section.step').eq(step),
		$error = '';

	switch(step) {
		case 0 :
			if($form_step.find('.one-third ul.ingredients li').length==0) {
				$error += 'Une recette sans ingrédient? Rajoutez-en un !';
				$form_step.find('.ingredients input').focus();
			} else {
				if(!$form_step.find('input[name="numberOfPeople_recipe"]').val()) {
					$error += 'Veuillez rentrer le nombre de personnes. ';
					$form_step.find('input[name="numberOfPeople_recipe"]').focus();
				} else if (!$.isNumeric($form_step.find('input[name="numberOfPeople_recipe"]').val()) || $form_step.find('input[name="numberOfPeople_recipe"]').val()<0) {
					$error += 'Le nombre de personne est incorrect. ';
					$form_step.find('input[name="numberOfPeople_recipe"]').focus();
				}
			}
		break;
		case 1 :
			if(!$form_step.find('input').first().val()) {
				$error += 'Il faut au moins rajouter une étape. ';
				$form_step.find('input').first().focus();
			}
		break;
		case 2 :
			if(!$form_step.find('input[name="name_recipe"]').val()) {
				$error += 'Mais il est où le titre?';
				$form_step.find('input[name="name_recipe]"').focus();
			}
		break;
	}
	if($error) {
		showError($error);
		return false;
	}
	return true;
}


// $('fieldset').on('change','select:last',function(e){
// 	$this=$(this);
// 	if($('select option:selected').val() != -1 ){
// 		var tmp = '<br><select  name="ingredient_recipe[]">'+$this.html()+ '</select>';
// 		$( tmp ).insertAfter('select:last');
// 	}
// })
</script>
<?php include('./app/Views/partials/footer.html') ?>