<?php include('./app/Views/partials/header.html') ?>
	<section id="main" class="recipes">
		<aside id="filters">
		<?php if(isset($ambiances)):?>
			<form>
				<h3>Ambiance des recettes</h3>
				<select name="id_ambiance" >
				<?php foreach($ambiances as $i => $ambiance): ?>
					<option value="<?= $ambiance->id_ambiance ?>" <?php if($i == 0)echo "checked"; ?> ><?= $ambiance->name_ambiance?></option>
				<?php endforeach ?>
				</select>
				<hr />
				<h3>Temps total</h3>
				<div class="group">
					<?php foreach($preparationTimes as $i => $preparationTime): ?>
						<label>
							<input type="radio" name="id_preparationTime" value="<?= $preparationTime->id_preparationTime ?>" <?php if($i == 0)echo "checked"; ?>/>
							<span><?= $preparationTime->name_preparationTime?></span>
						</label>
					<?php endforeach ?>
				</div>
				<div class="clear"></div>
				<hr />
				<h3>Difficulté</h3>
				<div class="group">
					<?php foreach($difficulties as $i => $difficulty): ?>
						<label>
							<input type="radio" name="id_difficulty" value="<?= $difficulty->id_difficulty ?>" <?php if($i == 0)echo "checked"; ?> />
							<span><?= $difficulty->name_difficulty?></span>
						</label>
					<?php endforeach ?>
				</div>
				<div class="clear"></div>
				<hr />
				<h3>Type de recette</h3>
				<div class="group">
					<?php foreach($types as $i => $type): ?>
					<label>
						<input type="radio" name="id_type" value="<?= $type->id_type ?>" <?php if($i == 0)echo "checked"; ?> />
						<span><?= $type->name_type?></span>
					</label>
					<?php endforeach ?>
				</div>
				<hr />
				<h3>Ingrédients désirés</h3>
				<div class="ingredients suggest">
					<input type="text" name="ingredients" placeholder="Qu'y a-t-il dans votre frigo ?" />
					<i class="zoom sm"></i>
					<ul class="suggestions">
						<li><i class="checked sm"></i>Pommes</li>
						<li><i class="checked sm"></i>Pommes de terre</li>
					</ul>
					<ul class="choosen-ingredients">
						<li><i class="checked sm"></i>Pommes</li>
						<li><i class="checked sm"></i>Pommes de terre</li>
						<li><i class="checked sm"></i>Pommes de terre</li>
						<li><i class="checked sm"></i>Pommes de terre</li>
					</ul>
				</div>
			</form>
		<?php endif; ?>
		</aside>
	<?php if($recipes):?> 
		<?php foreach ($recipes as $recipe):?>
		<article>
			<?php if(!empty($recipe->urlImage_recipe)) 	echo '<img src="'.$recipe->urlImage_recipe.'" alt="'.$recipe->name_recipe.'" />' ; ?>
			<div>
				<?php if(isset($SESSION['id_user'])): ?>
				<!-- NEED TO FIX HERE - TEMP SOLUTION -->
				<a class="like <?php $model = new RecipeModel;  if(!$model->getIsFavorite( array('id_user' => $SESSION['id_user'], 'id'=> $recipe->id_recipe ))) echo 'liked'; ?>" href="/user/like/<?= $SESSION['id_user'] ?>&<?= $recipe->id_recipe ?>"><i class="heart"></i><span><?= $recipe->votes_recipe ?></span></a>
				<?php else: ?>
				<a class="like" href="/user/register"><i class="heart"></i><span><?= $recipe->votes_recipe ?></span></a>
				<?php endif; ?>
				<a href="recipe/getRecipe/<?= $recipe->id_recipe?>">
					<h1><?= $recipe->name_recipe ?></h1>
					<ul class="meta">
						<li><i class="time"></i><?= $recipe->name_preparationTime ?></li>
						<li><i class="cup"></i><?= $recipe->name_difficulty?></li>
						<li><i class="bell"></i><?= $recipe->name_type ?></li>
					</ul>
				</a>
			</div>
		</article>
		<?php endforeach; ?>
	<?php else: ?>
		<section class="no-result">
			<p>Aucune recette trouvée ici :(</p>
		</section>
	<?php endif; ?>
	</section>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="public/js/main.js"></script>
</body>
</html>