<?php include('./app/Views/partials/header.html') ?>
	<?php if($recipe && $steps && $ambiance && $ingredients && $author):?>
	<section id="main" class="recipe">
		<div class="wrapper">
			<a href="" onclick="window.history.back()">« Retour aux résultats</a>
			<article>
				<header <?php if(empty($recipe->urlImage_recipe)) 	echo 'class="no-image"'?>>
					<?php if(!empty($recipe->urlImage_recipe)) 	echo '<img src="'.$recipe->urlImage_recipe.'" alt="'.$recipe->name_recipe.'" />' ; ?>
					<h1>
						<span><a href="/user/getUser/<?= $author->id_user ?>"><?= $author->firstname_user." ".$author->lastname_user?></a> vous propose...</span>
						<?= $recipe->name_recipe ?>
					</h1>
					<ul class="meta">
						<li><i class="time"></i><?= $recipe->name_preparationTime ?></li>
						<li><i class="cup"></i><?= $recipe->name_difficulty ?></li>
						<li><i class="bell"></i><?= $recipe->name_type ?></li>
					</ul>
					<hr />
					<?php if(isset($SESSION['id_user'])): ?>
					<a class="like <?php if(!$isFavorite) echo 'liked'; ?>" href="/user/like/<?= $SESSION['id_user'] ?>&<?= $recipe->id_recipe ?>"><i class="heart"></i><span><?= $recipe->votes_recipe ?></span></a>
					<?php else: ?>
					<a class="like" href="/user/register"><i class="heart"></i><span><?= $recipe->votes_recipe ?></span></a>
					<?php endif; ?>

					<div class="clear"></div>
				</header>

				<aside>
					<h3>Ingrédients</h3>
					<ul class="ingredients">
						<?php foreach ($ingredients as $ingredient): ?>
							<li><?= $ingredient->name_ingredient ?><span><?= $ingredient->quantity_ingredient ?></span></li>
						<?php endforeach; ?>
					</ul>
				</aside>

				<section class="steps">
					<h3>La recette en <?= count($steps) ?> étapes</h3>
					<ul>
						<?php foreach ($steps as $step): ?>
							<li>
								<div class="step"><span><?= $step->order_step ?></span>
									<?php if($step->countComment_step == 0 ): ?>
									<a class="no-comment" href="recipe/getComments/<?= $step->id_step.'&'.$recipe->id_recipe ?>"><i class="chat"></i><span> +</span></a>
									<?php else: ?>
									 <a href="recipe/getComments/<?= $step->id_step.'&'.$recipe->id_recipe ?>"><i class="chat"></i><span> <?= $step->countComment_step ?></span></a>
									<?php endif; ?>
								</div>
								<p><?= $step->content_step ?></p>
							</li>
						<?php endforeach; ?>
					</ul>

				</section>
				<?php if(isset($SESSION['id_user']) && $SESSION['id_user'] == $recipe->id_user): ?>
				<a href="recipe/editRecipe/<?= $recipe->id_recipe?>" class="btn btn-primary"><i class="icon-edit icon-white"></i>Edit</a>
				<a href="#" class="btn btn-danger"><i class="icon-remove icon-white"></i>Delete</a>
			<?php endif; ?>
			</article>
		</div>
	</section>
	<?php else: ?>
		<section class="no-result">
			<p>Aucune recette trouvée ici :(</p>
		</section>
	<?php endif; ?>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="public/js/main.js"></script>
<?php include('./app/Views/partials/footer.html') ?>