<?php include('./app/Views/partials/header.html') ?>
	<section id="main" class="recipes">
		<aside id="filters">
		<?php if(isset($ambiances)):?>
			<form>
				<h3>Ambiance des recettes</h3>
				<select name="id_ambiance" >
				<?php foreach($ambiances as $i => $ambiance): ?>
					<option value="<?= $ambiance->id_ambiance ?>" 
						<?php if(isset($allparams['id_ambiance']) && $ambiance->id_ambiance == $allparams['id_ambiance']){echo "selected";} else if($i == 0){echo "selected";} ?> ><?= $ambiance->name_ambiance?></option>
				<?php endforeach ?>
				</select>
				<hr />
				<h3>Temps total</h3>
				<div class="group">
					<?php foreach($preparationTimes as $i => $preparationTime): ?>
						<label>
							<input type="radio" name="id_preparationTime" value="<?= $preparationTime->id_preparationTime ?>" <?php if(isset($allparams['id_preparationTime']) && $preparationTime->id_preparationTime == $allparams['id_preparationTime']){echo "checked";} else if($i == 0){echo "checked";} ?>/>
							<span><?= $preparationTime->name_preparationTime?></span>
						</label>
					<?php endforeach ?>
				</div>
				<div class="clear"></div>
				<hr />
				<h3>Difficulté</h3>
				<div class="group">
					<?php foreach($difficulties as $i => $difficulty): ?>
						<label>
							<input type="radio" name="id_difficulty" value="<?= $difficulty->id_difficulty ?>" <?php if(isset($allparams['id_difficulty']) && $difficulty->id_difficulty == $allparams['id_difficulty']){echo "checked";} else if($i == 0){echo "checked";} ?> />
							<span><?= $difficulty->name_difficulty?></span>
						</label>
					<?php endforeach ?>
				</div>
				<div class="clear"></div>
				<hr />
				<h3>Type de recette</h3>
				<div class="group">
					<?php foreach($types as $i => $type): ?>
					<label>
						<input type="radio" name="id_type" value="<?= $type->id_type ?>" <?php if(isset($allparams['id_type']) && $type->id_type == $allparams['id_type']){echo "checked";}else if($i == 0){echo "checked";} ?> />
						<span><?= $type->name_type?></span>
					</label>
					<?php endforeach ?>
				</div>
				<hr />
				<h3>Ingrédients désirés</h3>
				<div class="ingredients suggest">
					<input type="text" name="ingredients" placeholder="Qu'y a-t-il dans votre frigo ?" />
					<i class="zoom sm"></i>
				</div>
			</form>
		<?php endif; ?>
		</aside>
	<?php if($recipes):?> 
		<?php foreach ($recipes as $recipe):?>
		<article>
			<?php if(!empty($recipe->urlImage_recipe)) 	echo '<img src="'.$recipe->urlImage_recipe.'" alt="'.$recipe->name_recipe.'" />' ; ?>
			<div>
				<?php if(isset($SESSION['id_user'])): ?>
				<!-- NEED TO FIX HERE - TEMP SOLUTION -->
				<a class="like <?php $model = new RecipeModel;  if(!$model->getIsFavorite( array('id_user' => $SESSION['id_user'], 'id'=> $recipe->id_recipe ))) echo 'liked'; ?>" href="/user/like/<?= $SESSION['id_user'] ?>&<?= $recipe->id_recipe ?>"><i class="heart"></i><span><?= $recipe->votes_recipe ?></span></a>
				<?php else: ?>
				<a class="like" href="/user/register"><i class="heart"></i><span><?= $recipe->votes_recipe ?></span></a>
				<?php endif; ?>
				<a href="recipe/getRecipe/<?= $recipe->id_recipe?>">
					<h1><?= $recipe->name_recipe ?></h1>
					<ul class="meta">
						<li><i class="time"></i><?= $recipe->name_preparationTime ?></li>
						<li><i class="cup"></i><?= $recipe->name_difficulty?></li>
						<li><i class="bell"></i><?= $recipe->name_type ?></li>
					</ul>
				</a>
			</div>
		</article>
		<?php endforeach; ?>
	<?php else: ?>
		<section class="no-result">
			<p>Aucune recette trouvée ici :(</p>
		</section>
	<?php endif; ?>
	</section>
	
	<?php include('./app/Views/partials/scripts.html') ?>
	<script src="public/js/masonry/masonry.min.js"></script>
	<script src="public/js/textext/textext.min.js"></script>
	<script>

	$(".recipes").masonry({
	  columnWidth: 320,
	  gutter: 30,
	  itemSelector: 'article'
	});

	function showError($message) {
		if($(".error"))
			$(".error").remove();
		$('section#main, section#login').before('<div class="error">'+$message+'<i class="close xl">Close</i></div>');
		$('.error').slideDown().delay('3000').slideUp();
	}
	var $ingredients;
	var TextExtTags = $('.ingredients>input[type="text"]').textext({
				plugins :'autocomplete filter tags ajax',
				ajax : {
								url : '/recipe/getAllIngredientsJSON',
								dataType : 'json',
								cacheResults : true
						},
						ext: {
						itemManager: {
								stringToItem: function(str)
								{
										var val;
										$.each(this.list, function(idx, item) {
												if(item.label == str){
														val = item.value;
												}
										});
										return { label: str, value: val };
								},
								itemToString: function(item)
								{
										return item.label;
								},
								compareItems: function(item1, item2)
								{
										return item1.value == item2.value;
								},
								filter: function(list, query){
										this.list = list;

										var result = [],
												i, item
												;
										for(i = 0; i < list.length; i++)
										{
												item = list[i];
												if(this.itemContains(item, query))
														result.push(item);
										}
										return result;
								}
						}
				}
			}).bind('isTagAllowed', function(e, data){
			var formData = $(e.target).textext()[0].tags()._formData,
					list = JSON.stringify(formData),
					$error = '';
			if (formData.length >= 3 || list.indexOf(data.tag.label) >= 0) {
						data.result = false;
						if (formData.length >= 3) 
							$error = 'Oops, vous ne pouvez ajouter que 3 éléments.';
						if (formData.length >= 3 && list.indexOf(data.tag.label) >= 0)
							$error += '<br />';
						if (list.indexOf(data.tag.label) >= 0) 
							$error += 'Oops, vous ne pouvez ajouter deux fois le même élément.';
			} else {
				data.result = true;
			}
			if($error) 
				showError($error);
		});

			$('body').on('change', 'input[name="ingredients"]', function() {
	alert('vh');
});

			<?php if (isset($allparams['id_ingredient1'])) : ?>
				$.ajax({
					url : '/recipe/getAllIngredientsJSON',
					dataType : 'json',
					success : function(data) {
						var result = $.parseJSON(JSON.stringify(data));
						$.each(result, function(k, v) {
							if(v.value == <?php echo $allparams['id_ingredient1']; ?> 
							 <?php if (isset($allparams['id_ingredient2'])) : echo ' || v.value == '.$allparams['id_ingredient2']; endif;?>
							 <?php if (isset($allparams['id_ingredient3'])) : echo ' || v.value == '.$allparams['id_ingredient3']; endif;?>
							 ) {
								$ingredients = result[k];
								TextExtTags.textext()[0].tags().addTags([$ingredients]);
							}
						});
					}
				});
			<?php endif; ?>

		</script>
<?php include('./app/Views/partials/footer.html') ?>
