<?php include('./app/Views/partials/header.html') ?>
	<?php if($recipe && $steps && $ambiance && $ingredients && $author):?>
	<section id="main" class="recipe">
		<div class="wrapper">
			<a href="" class="cancel" onclick="window.history.back()">« Retour aux résultats</a>
			<article>
				<header <?php if(empty($recipe->urlImage_recipe)) 	echo 'class="no-image"'?>>
					<?php if(!empty($recipe->urlImage_recipe)) 	echo '<img src="'.$recipe->urlImage_recipe.'" alt="'.$recipe->name_recipe.'" />' ; ?>
					<h1>
						<span><a href="/user/getUser/<?= $author->id_user ?>"><?= $author->firstname_user." ".$author->lastname_user?></a> vous propose...</span>
						<?= $recipe->name_recipe ?>
					</h1>
					<ul class="meta">
						<li><i class="time"></i><?= $recipe->name_preparationTime ?></li>
						<li><i class="cup"></i><?= $recipe->name_difficulty ?></li>
						<li><i class="bell"></i><?= $recipe->name_type ?></li>
						<li><i class="tag"></i>ANTOINE MET L'AMBIANCE DE LA RECETTE ICI</li>
					</ul>
					<a href="" class="edit">Modifier la recette</a>
					<hr />
					<?php if(isset($SESSION['id_user'])): ?>
					<a class="like <?php if(!$isFavorite) echo 'liked'; ?>" href="/user/like/<?= $SESSION['id_user'] ?>&<?= $recipe->id_recipe ?>"><i class="heart"></i><span><?= $recipe->votes_recipe ?></span></a>
					<?php else: ?>
					<a class="like" href="/user/register"><i class="heart"></i><span><?= $recipe->votes_recipe ?></span></a>
					<?php endif; ?>
					<h3>Partager la recette</h3>
					<ul class="social">
						<li><div class="fb-share-button" data-href="http://wtfdiet.local" data-type="button_count"></div>
						<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=452234728214767";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script></li>
						
						<li><a href="//fr.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwtfdiet.local&media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest" data-pin-do="buttonPin" data-pin-config="beside"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" /></a>
						<!-- Please call pinit.js only once per page -->
						<script type="text/javascript" async src="//assets.pinterest.com/js/pinit.js"></script></li>
						<li><a href="https://twitter.com/share" class="twitter-share-button" data-lang="fr">Tweeter</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
					</ul>
					<div class="clear"></div>
				</header>

				<aside class="no-img">
					<h3>Ingrédients</h3>
					<ul class="ingredients">
						<?php foreach ($ingredients as $ingredient): ?>
							<li><?= $ingredient->name_ingredient ?><span><?= $ingredient->quantity_ingredient ?></span></li>
						<?php endforeach; ?>
					</ul>
				</aside>

				<section class="steps">
					<h3>La recette en <?= count($steps) ?> étapes</h3>
					<ul>
						<?php foreach ($steps as $step): ?>
							<li>
								<div class="step"><span><?= $step->order_step ?></span>
									<?php if($step->countComment_step == 0 ): ?>
									<a class="no-comment" href="recipe/getComments/<?= $step->id_step.'&'.$recipe->id_recipe ?>"><i class="chat"></i><span> +</span></a>
									<?php else: ?>
									 <a href="recipe/getComments/<?= $step->id_step.'&'.$recipe->id_recipe ?>"><i class="chat"></i><span> <?= $step->countComment_step ?></span></a>
									<?php endif; ?>
								</div>
								<p><?= $step->content_step ?></p>
							</li>
						<?php endforeach; ?>
					</ul>

				</section>
				<?php if(isset($SESSION['id_user']) && $SESSION['id_user'] == $recipe->id_user): ?>
				<a href="recipe/editRecipe/<?= $recipe->id_recipe?>" class="btn btn-primary"><i class="icon-edit icon-white"></i>Edit</a>
				<a href="#" class="btn btn-danger"><i class="icon-remove icon-white"></i>Delete</a>
			<?php endif; ?>
			</article>
		</div>
	</section>
	<?php else: ?>
		<section class="no-result">
			<p>Aucune recette trouvée ici :(</p>
		</section>
	<?php endif; ?>
<?php include('./app/Views/partials/footer.html') ?>