<?php include('partials/header.html') ?>
<body class="clearfix">
	<h2>Conciergerie</h2>
	<?php if(isset($ambiances)):?>
		<form>
		<?php foreach($ambiances as $i => $ambiance): ?>
			<input type="radio" name="id_ambiance" value="<?= $ambiance->id_ambiance ?>" <?php if($i == 0)echo "checked"; ?> ><?= $ambiance->name_ambiance ?><br>
		<?php endforeach ?>
			<legend>Difficulté:</legend>
		<?php foreach($difficulties as $i => $difficulty): ?>
			<input type="radio" name="id_difficulty" value="<?= $difficulty->id_difficulty ?>" <?php if($i == 0)echo "checked"; ?>><?= $difficulty->name_difficulty?><br>
		<?php endforeach ?>
			<legend>Temps de préparation:</legend>
		<?php foreach($preparationTimes as $i => $preparationTime): ?>
			<input type="radio" name="id_preparationTime" value="<?= $preparationTime->id_preparationTime ?>" <?php if($i == 0)echo "checked"; ?>><?= $preparationTime->name_preparationTime?><br>
		<?php endforeach ?>
			<legend>Type de plat:</legend>
		<?php foreach($types as $i => $type): ?>
			<input type="radio" name="id_type" value="<?= $type->id_type ?>" <?php if($i == 0)echo "checked"; ?>><?= $type->name_type?><br>
		<?php endforeach ?>
			<input type="button" name="find" value="find">
		</form>
	<?php endif; ?>
	<script type="text/javascript">
	$('input[name="find"]').on('click',function(e){
		$this=$(this);
		$form = $this.parent("form");
		e.preventDefault();
		if($('input[name="id_difficulty"]:checked').val() != '' ){
			window.location = "/recipe/getRecipesByFilter/"+$('input[name="id_ambiance"]:checked').val()+'&'+$('input[name="id_preparationTime"]:checked').val()+'&'+$('input[name="id_difficulty"]:checked').val()+'&'+$('input[name="id_type"]:checked').val();
		} else {
			window.location = "/recipe/getRecipesByFilter/"+$('input[name="id_ambiance"]:checked').val();
		}
			
	});
	</script>
</body>
</html>