<?php include('partials/header.html') ?>
	<div class="wrapper">
		<section id="main">
			<h1>La conciergerie</h1>
			<p>Dites-nous vos envies quis nostrud exercitation ullamco <br />laboris nisi ut aliquip ex ea commodo consequat</p>
			<hr />
			<?php if(isset($ambiances)):?>
			<form>
				<?php foreach($ambiances as $i => $ambiance): ?>
					<label class="vibes">
						<input type="radio" name="id_ambiance" value="<?= $ambiance->id_ambiance ?>" <?php if($i == 0)echo "checked"; ?>/>
						<div>
							<img src="<?= $ambiance->urlImage_ambiance?>" width="180px" height="140px" alt="<?= $ambiance->name_ambiance?>">
							<h2><?= explode(' ',$ambiance->name_ambiance)[0] ?><span><?= explode(' ',$ambiance->name_ambiance)[1] ?></span></h2>
							<p><?= $ambiance->description_ambiance?></p>
							<span class="checked"></span>
						</div>
					</label>
				<?php endforeach ?>
				<div class="clear"></div>
					<a href="" class="advanced-search"><i class="plus">+</i>Recherche avancée</a>

					<section class="advanced-search">
						<div class="one-third">
							<h3>Temps total</h3>
							<div class="group">
								<?php foreach($preparationTimes as $i => $preparationTime): ?>
									<label>
										<input type="radio" name="id_preparationTime" value="<?= $preparationTime->id_preparationTime ?>" <?php if($i == 0)echo "checked"; ?>/>
										<span><?= $preparationTime->name_preparationTime?></span>
									</label>
								<?php endforeach ?>
							</div>
							<div class="clear"></div>
							<h3>Difficulté</h3>
							<div class="group">
								<?php foreach($difficulties as $i => $difficulty): ?>
									<label>
										<input type="radio" name="id_difficulty" value="<?= $difficulty->id_difficulty ?>" <?php if($i == 0)echo "checked"; ?> />
										<span><?= $difficulty->name_difficulty?></span>
									</label>
								<?php endforeach ?>
							</div>
							<div class="clear"></div>
							<h3>Type de recette</h3>
							<div class="group">
								<?php foreach($types as $i => $type): ?>
									<label>
										<input type="radio" name="id_type" value="<?= $type->id_type ?>" <?php if($i == 0)echo "checked"; ?> />
										<span><?= $type->name_type?></span>
									</label>
								<?php endforeach ?>
							</div>
						</div>
						<div class="two-thirds">
							<h3>Ingrédients désirés</h3>
							<div class="ingredients suggest">
								<input type="text" name="ingredients" placeholder="Qu'y a-t-il dans votre frigo ?" />
								<i class="zoom"></i>
							</div>
						</div>
					</section>


					<hr />
					<button type="submit" name="find" ><i class="checked"></i>Voir les recettes</button>
					

				</form>
			<?php endif; ?>
		</section>
	</div>
	<?php include('./app/Views/partials/scripts.html') ?>
	<script type="text/javascript" src="public/js/textext/textext.min.js"></script>
	<script type="text/javascript">
	function showError($message) {
		if($(".error"))
			$(".error").remove();
		$('section#main, section#login').before('<div class="error">'+$message+'<i class="close xl">Close</i></div>');
		$('.error').slideDown().delay('3000').slideUp();
	}
	var TextExtTags = $('.ingredients>input[type="text"]').textext({
    		plugins :'autocomplete filter tags ajax',
    		ajax : {
                url : 'recipe/getAllIngredientsJSON',
                dataType : 'json',
                cacheResults : true
            },
            ext: {
		        itemManager: {
		            stringToItem: function(str)
		            {
		                var val;
		                $.each(this.list, function(idx, item) {
		                    if(item.label == str){
		                        val = item.value;
		                    }
		                });
		                return { label: str, value: val };
		            },
		            itemToString: function(item)
		            {
		                return item.label;
		            },
		            compareItems: function(item1, item2)
		            {
		                return item1.value == item2.value;
		            },
		            filter: function(list, query){
		                this.list = list;

		                var result = [],
		                    i, item
		                    ;
		                for(i = 0; i < list.length; i++)
		                {
		                    item = list[i];
		                    if(this.itemContains(item, query))
		                        result.push(item);
		                }
		                return result;
		            }
		        }
		    }
    	}).bind('isTagAllowed', function(e, data){
			var formData = $(e.target).textext()[0].tags()._formData,
			    list = JSON.stringify(formData),
			    $error = '';
			if (formData.length >= 3 || list.indexOf(data.tag.label) >= 0) {
		        data.result = false;
		        if (formData.length >= 3) 
		       		$error = 'Oops, vous ne pouvez ajouter que 3 éléments.';
		       	if (formData.length >= 3 && list.indexOf(data.tag.label) >= 0)
		       		$error += '<br />';
		        if (list.indexOf(data.tag.label) >= 0) 
		       		$error += 'Oops, vous ne pouvez ajouter deux fois le même ingrédient.';
			}
			if($error) {
				showError($error);
			}
	});

	$('button[name="find"]').bind('click',function(e){
		var $this=$(this),
			$input = $('input[name="ingredients"]');
		$this.parent("form");
		e.preventDefault();
		//reformat ingredient
		// $input.val( $input.val().replace(/\{\"label\":\"[a-zâäàéèùêëîïôöçñ_-]+\",\"value\":\"/ig, '').replace(/\"\}/g, '').substring(1).replace(/\]/, '') );

		if($('section.advanced-search').css('display') != 'none' ){
			var str = "/recipe/getRecipesByFilter/vote/"
			+$('input[name="id_ambiance"]:checked').val()
			+'/'+$('input[name="id_preparationTime"]:checked').val()
			+'/'+$('input[name="id_difficulty"]:checked').val()
			+'/'+$('input[name="id_type"]:checked').val();

			var parseVal = JSON.parse($('input[name="ingredients"]').val());
			for (var i = 0; i < parseVal.length; i++) {
				str = str+"/"+parseVal[i].value;
			};
			
			window.location = str;
		} else {
			window.location = "/recipe/getRecipesByFilter/vote/"+$('input[name="id_ambiance"]:checked').val();
		}
	});
	</script>
<?php include('./app/Views/partials/footer.html') ?>