<?php include('partials/header.html') ?>
<body class="clearfix">
	<h1>Hello</h1>
	<?php if(isset($_SESSION['id_user'])): ?>
		<a href="/user/getUser/<?= $_SESSION['id_user'] ?>">Mon profil</a><br>
		<a href="/recipe/submit">Ecrire une recette</a><br>
		<a href="/user/logout/">Logout</a><br>
	<?php else : ?>
		<section id="form">
			<form action="user/login" method="post">
				<input type="text" name="mail_user" placeholder="Mail"></input>
				<input type="text" name="password_user" placeholder="Password"></input>
				<input id="login" type="button" value="Login">
			</form>
			<span></span>
		</section>		
	<?php endif ?>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="public/js/main.js"></script>
</body>
</html>